<!doctype html> 
<html lang="{{ .Site.LanguageCode }}"> 
<head>
  <meta charset="utf-8">
  <title>{{ .Title | markdownify | plainify  }} </title>
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" id="libre-libre-css" href="https://fonts.googleapis.com/css?family=Libre+Baskerville%3A400%2C400italic%2C700&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

