body {
    font-family: 'Libre Baskerville', serif;
}

main nav {
	text-align: center;
	margin-top: -4em;
}

.home nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

}

a {
    color: black;
    text-decoration: underline; 
}

.home nav li + li {
	margin-top: 10px;
}


.home {
	text-align: center;
}

.home h1 {
    font-size: 200px;
    color: lightgrey;
    margin-top: 0px;
}

article.post h1 {
	text-align: center;
	color: lightgray;
	font-size: 40px;
}

article.post {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

article.post :not(h1) {
	line-height: 28px;
}


article.post footer {
	text-align: center;
	margin-top: 4em;
	font-size: smaller;
}

article.post footer a {
	color: lightgray;
}

article hr {
	width: 40px;
	border: 0;
	height: 1px;
	background-color: lightgray;
}

article img {
    max-width: 100%;
}
